<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Cart</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <div style="display: flex; padding: 40px; align-items: center">
        <h1 style="margin-right: 30px">Products Cart</h1>
        <button class="btn btn-danger" ng-click="backToIndex()">Back to Products</button>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="oi in Cart.items">
            <td>{{oi.productTitle}}</td>
            <td>{{oi.quantity}}</td>
            <td>{{oi.price}}</td>
            <td>
                <button class="btn btn-warning" ng-click="incrementProductInCart(oi)">+</button>
                <button class="btn btn-danger" ng-click="decrementProductInCart(oi)">-</button>
                <button class="btn btn-primary" ng-click="deleteProductFromCart(oi)">Delete</button>
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{Cart.totalPrice}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-danger" ng-click="clearCart()">Clear Cart</button>
</div>
</body>
</html>