<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-1.3.2.js"></script>

    <script src="index.js"></script>
    <title>Geek Market</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <div style="display: flex; padding: 40px; align-items: center">
        <h1 style="margin-right: 30px">Products</h1>
        <button class="btn btn-primary" ng-click="addProductPage()">Add New Product</button>
    </div>
    <div>
        <form novalidate ng-submit="fillTable()" style="display: flex; padding: 30px;">
            <div style="margin: 10px">
                <label for="filterProductCategory">Product Category</label>
                <input class="form-control" type="text" ng-model="filter.product_category" id="filterProductCategory">
            </div>
            <div style="margin: 10px">
                <label for="filterMinPrice">Min Price</label>
                <input class="form-control" type="number" ng-model="filter.min_price" id="filterMinPrice">
            </div>
            <div style="margin: 10px">
                <label for="filterMaxPrice">Max Price</label>
                <input class="form-control" type="number" ng-model="filter.max_price" id="filterMaxPrice">
            </div>
            <div style="margin: 10px">
                <label for="filterTitle">Title</label>
                <input class="form-control" type="text" ng-model="filter.title" id="filterTitle">
            </div>
            <button class="btn btn-success" type="submit">Filter</button>
        </form>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Product Category</th>
            <th>Product Image</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in ProductsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>{{p.pg.productCategory}}</td>
            <td>
                <img width="40" height="40" ng-src="{{'http://localhost:8189/app/images/' + p.productImage.imagePath}}"/>
            </td>
            <td>
                <button class="btn btn-warning" ng-click="editProductPage(p.id)">Edit</button>
                <button class="btn btn-danger" ng-click="deleteProductById(p.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="display: flex; justify-content: center;">
        <nav aria-label="Pagination">
            <ul class="pagination">
                <li ng-class="ProductsPage.first ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" ng-click="fillTable(ProductsPage.number)">Previous</a>
                </li>
                <li ng-class="ProductsPage.number == pageIndex -1 ? 'page-item active' : 'page-item'"
                    ng-repeat="pageIndex in PaginationArray">
                    <a class="page-link" ng-click="fillTable(pageIndex)">{{pageIndex}}</a>
                </li>
                <li ng-class="ProductsPage.last ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" ng-click="fillTable(ProductsPage.number + 2)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>